body{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0px;
    background-color: #222;
    font-family: 'Montserrat', sans-serif;
    background-image: url('https://source.unsplash.com/1600x900/?landscape');
    background-size: cover;
    font-size: 120%;
    
}
.card{
    color: white;
    background: #000000d0;
    padding: 1.5em;
    border-radius: 20px;
    width: 100%;
    max-width: 420px;
    margin: 1em;
}
.search{
    display: flex;
    align-items: center;
    justify-content: center;
    outline:none;
}
button{
    margin: 0.5em;
    border-radius:51%;
    height:3.25em;
    width:3.25em;
    border:none;
    background:#7c7c7c4f;
}
.search-bar{
    border:none;
    outline:none;
    padding:0.35em 1em;
    border-radius: 18px;
    background:#adacac1b;
    color:white;
    font-family: 'Roboto', sans-serif;
    font-size: 110%;
    width:calc(100%-50px);
}
button:hover{
    background: #7c7c7c;
    cursor:pointer;
    transition:0.1s ease-in-out;
}
::placeholder{
    color:#b9b9b9a0;
    font-family: 'Roboto', sans-serif;
}
.temp{
    margin:0px;
    margin-bottom:0.33em;

}
.description{
    text-transform: capitalize;
    margin-left:0.4em;
}
.flex{
    display:flex;
    align-items: center;
}
